body{
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

#dark-toggle{
    background-color: #f0f0f0;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

body.black{
    background-color: #121212;
    color: white;
}

body.black #dark-toggle{
    background-color: #333;
    color: #f0f0f0;
}